@charset "utf-8";
.aaa{
        color: #F15A22
}
body{
         background-image: url("images/abc.png");
 	 background-size: cover;
}

.ccc{
	float:right;
        text-align: right;
        font-size: 20px;
}


.float{
    float: left;
    margin-right: 20px;
}




.bbb {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.4em;
  padding: 5px;
  background: #F15A22;
  color: #ffffff;
}
